.DS_Store
.pydevproject
.project
.Rhistory

*.pdf
*.png
*.tsv
*.csv
*.pickle
*.pyc
*.egg-info
__pycache__
libsvm*
result
input
output
workspace
*outdir/*
test.py


inputdict.py
dictinput.py

model_select_vincentius.py
