[etv6_k562_ENCSR000FCE]
r1 = ENCFF355XHR.bam
r2 = ENCFF307VES.bam
c1 = ENCFF783OZL.bam
c2 = ENCFF763ZEC.bam

[etv6_k562_ENCSR124BJR]
r1 = ENCFF380QNJ.bam
r2 = ENCFF157XWR.bam
c1 = ENCFF841BOW.bam

[etv6_GM12878_ENCSR597VGC]
r1 = ENCFF218VQM.bam
r2 = ENCFF425VPI.bam
c1 = ENCFF223PIT.bam

[etv6_GM12878_ENCSR626VUC]
r1 = ENCFF887NEW.bam
r2 = ENCFF150UOG.bam
c1 = ENCFF654PQX.bam
c2 = ENCFF531VJO.bam

[myc_hela_ENCSR000DLN]
r1 = ENCFF598LKD.bam
r2 = ENCFF927VIX.bam
c1 = ENCFF721BCM.bam

[myc_hela_ENCSR000EZD]
r1 = ENCFF914AJX.bam
r2 = ENCFF848XOE.bam
c1 = ENCFF943OAY.bam

[myc_k562_ENCSR000FAG]
c1 = ENCFF898GNN.bam

[myc_k562_ENCSR000EGJ]
r1 = ENCFF895BNY.bam
r2 = ENCFF713RWU.bam
c1 = ENCFF530AIY.bam

[myc_k562_ENCSR000DLZ]
r1 = ENCFF449JIA.bam
r2 = ENCFF403SIA.bam
r3 = ENCFF307MJD.bam
c1 = ENCFF681OVW.bam

[max_hela_ENCSR000EZF]
c1 = ENCFF943OAY.bam

[max_hela_ENCSR000ECN]
c1 = ENCFF565WKC.bam

[max_k562_ENCSR000FAE]
c1 = ENCFF898GNN.bam

[max_k562_ENCSR000EFV]
r1 = ENCFF610XAJ.bam
r2 = ENCFF172YQZ.bam
c1 = ENCFF530AIY.bam

[max_k562_ENCSR000BLP]
r1 = ENCFF106ZVG.bam
r2 = ENCFF715OQW.bam
c1 = ENCFF103OUB.bam

[mxi1_hela_ENCSR000ECU]
c1 = ENCFF565WKC.bam

[mxi1_k562_ENCSR000EGZ]
r1 = ENCFF009RJG.bam
r2 = ENCFF946QFA.bam
c1 = ENCFF530AIY.bam

[mxi1_h1_ENCSR000EBR]
r1 = ENCFF558EMM.bam
r2 = ENCFF612OOJ.bam
c1 = ENCFF521TCY.bam

[mxi1_hepg2_ENCSR000EDU]
c1 = ENCFF023RXC.bam
c2 = ENCFF604FHH.bam

[mxi1_imr-9green_ENCSR000EFE]
r1 = ENCFF298MNR.bam
r2 = ENCFF717UYD.bam
c1 = ENCFF641ZIY.bam

[mxi1_sk-n-sh_ENCSR000EIA]
r1 = ENCFF883WOD.bam
r2 = ENCFF465CCW.bam
c1 = ENCFF971BQF.bam

[mxi1_neural_ENCSR934NHU]
r1 = ENCFF307MXC.bam
r2 = ENCFF862XFE.bam
c1 = ENCFF525ZHS.bam

[mxi1_gm12878_ENCSR000DZI]
r1 = ENCFF305VDY.bam
r2 = ENCFF128IWG.bam
c1 = ENCFF268MJK.bam

[ets1_gm12878_ENCSR000BKA]
r1 = ENCFF952WXS.bam
r2 = ENCFF293YYY.bam
c1 = ENCFF651WEV.bam

[ets1_k562_ENCSR000BKQ]
r1 = ENCFF093QSS.bam
r2 = ENCFF364BDB.bam
c1 = ENCFF483UTO.bam

[ets1_hepg2_ENCSR681WHQ]
r1 = ENCFF932QJT.bam
r2 = ENCFF208UBO.bam
c1 = ENCFF250CMS.bam

[ets1_gm23338_ENCSR534VHI]
r1 = ENCFF101TGH.bam
r2 = ENCFF900ILU.bam
c1 = ENCFF773BHH.bam
c2 = ENCFF595RJR.bam

[elk1_hela_ENCSR000ECI]
c1 = ENCFF565WKC.bam

[elk1_mcf-7_ENCSR382WLL]
r1 = ENCFF060OQV.bam
r2 = ENCFF053MAR.bam
c1 = ENCFF983BPL.bam
c2 = ENCFF793JGE.bam

[elk1_a549_ENCSR623KNM]
r1 = ENCFF939BBC.bam
r2 = ENCFF331FVP.bam
c1 = ENCFF071MKT.bam

[elk1_k562_ENCSR000EFU]
r1 = ENCFF446YAJ.bam
r2 = ENCFF054EPN.bam
c1 = ENCFF530AIY.bam

[elk1_gm12878_ENCSR000DZB]
r1 = ENCFF199VLV.bam
r2 = ENCFF556BST.bam
c1 = ENCFF920EPK.bam
c2 = ENCFF268MJK.bam

[elk1_imr-90_ENCSR664OKA]
r1 = ENCFF216ADV.bam
r2 = ENCFF073KSR.bam
c1 = ENCFF061KEN.bam

[gabpa_mcf-7_ENCSR000BUK]
c1 = ENCFF473IID.bam

[gabpa_hepg2_ENCSR000BJK]
r1 = ENCFF446CBW.bam
r2 = ENCFF487QUK.bam
c1 = ENCFF625XTK.bam

[gabpa_sk-n-sh_ENCSR000BTG]
c1 = ENCFF470KYJ.bam

[gabpa_k562_ENCSR000BLO]
r1 = ENCFF100PUI.bam
r2 = ENCFF633ZKV.bam
c1 = ENCFF483UTO.bam

[gabpa_hela_ENCSR000BHS]
r1 = ENCFF157XCQ.bam
r2 = ENCFF762XXI.bam
c1 = ENCFF477FOR.bam

[gabpa_hl-6green_ENCSR000BTK]
r1 = ENCFF497ISN.bam
r2 = ENCFF260BJG.bam
c1 = ENCFF291NWO.bam

[gabpa_h1_ENCSR000BIW]
r1 = ENCFF468VIP.bam
r2 = ENCFF090DDS.bam
c1 = ENCFF850LYD.bam

[gabpa_gm12878_ENCSR331HPA]
r1 = ENCFF084LVF.bam
r2 = ENCFF742KAV.bam
c1 = ENCFF761FPR.bam

[e2f1_k562_ENCSR563LLO]
r1 = ENCFF150NGG.bam
r2 = ENCFF552TIG.bam
c1 = ENCFF190WRH.bam
c2 = ENCFF690YST.bam

[e2f1_k562_ENCSR720HUL]
r1 = ENCFF140VPY.bam
r2 = ENCFF160MAF.bam
c1 = ENCFF226LWL.bam
c2 = ENCFF190WRH.bam

[e2f1_hela_ENCSR000EVJ]
c1 = ENCFF943OAY.bam

[e2f4_hela_ENCSR000EVL]
c1 = ENCFF943OAY.bam

[e2f4_k562_ENCSR000EWL]
r1 = ENCFF251JRO.bam
r2 = ENCFF674YIM.bam
c1 = ENCFF627RBN.bam

[e2f4_gm12878_ENCSR000DYY]
r1 = ENCFF285WSG.bam
r2 = ENCFF960CBP.bam
c1 = ENCFF920EPK.bam
c2 = ENCFF268MJK.bam

[e2f6_hela_ENCSR000EVK]
c1 = ENCFF943OAY.bam

[e2f6_h1_ENCSR000BSI]
c1 = ENCFF576QJQ.bam

[e2f6_k562_ENCSR000EWJ]
r1 = ENCFF718DBH.bam
r2 = ENCFF395EZM.bam
c1 = ENCFF627RBN.bam

[e2f6_k562_ENCSR000BLI]
r1 = ENCFF386ZEB.bam
r2 = ENCFF393OPU.bam
c1 = ENCFF103OUB.bam

